
.main {
  .main__bio-title {
    font: $title-font;
    font-weight: 700;
    font-size: 2rem;
    margin-left: 2rem;
    margin-top: 2rem;
  }

  .main__bio-rectangle {
    width: 3rem;
    height: 0.13rem;
    background: $secondary-color;
    margin-left: 2rem;
    margin-bottom: 2rem;
    margin-top: 0.2rem;
  }

  .main__about-section-bio-alternate {
    display: none;
  }
  
  #interests-text {
    margin-block: 0.5rem;
  }

  .main__about-section-exp-int-int-rectangle {
    width: 3rem;
    height: 0.13rem;
    background: $tertiary-color;
    margin-block: 0.5rem;

    &--long {
      width: auto;
    }

    &--primary {
      background: $secondary-color;
    }
  }

  .main__about-section-dropdown-text {
    font: $main-text-font;
    font-size: 1rem;
    font-weight: 400;
    line-height: 160%;
  }

  .main__about-section-exp-int-int {
    margin-top: 1rem;
    width: 20rem;
  }

  .main__about-section-exp-int-exp {
    margin-top: 1rem;
    width: 20rem;
  }

  .main__about-section-exp-int-exp-rectangle {
    width: 3rem;
    height: 0.13rem;
    background: $tertiary-color;
    margin-block: 0.5rem;

    &--long {
      width: auto;
    }

    &--primary {
      background: $secondary-color;
    }
  }

  .main__about-section-dropdown {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .main__about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main__about-section-bio-alternate {
    display: none;
  }

  .main__about-section-bio-text {
    margin: 2rem;
  }

  .main__about-section-bio {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main__about-date {
    color: $secondary-color;
    margin-bottom: 0.5rem;
  }

  .main__experience-text {
    font-family: inter;
    font-size: 0.65rem;
    margin-bottom: 0.75rem;
    margin-left: 1rem;

    &--interests{
      margin-block: 0.2rem;
    }
  }

  .main__about-plus-sign{
    cursor: pointer;
  }

  .main__experience-list {
    margin-bottom: 0.75rem;
  }

  .main__experience-dropdown {
    display: none;

    &--one {
      display: none;
    }

    &--two {
      display: none;
    }

    &--three {
      display: none;
    }

    &--four {
      display: none;
    }

    &--five {
      display: none;
    }

    &--six {
      display: none;
    }
  }

  .main__about-section-bio-image {
    width: 20rem;
    height: auto;
    border-radius: 50%;
  }
}

@media screen and (min-width: 768px) {
  .main {
    .main__bio-title {
      display: none;
    }

    .main__bio-rectangle {
      display: none;
    }

    .main__bio-alternate-title-and-image-title {
      font-size: 2.5rem;
    }

    .main__bio-alternate-title-and-image-rectangle {
      width: 3rem;
      height: 0.13rem;
      background: $secondary-color;
      margin-block: 0.5rem;
      margin-bottom: 1rem;
    }

    .main__about-section-bio-alternate {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    .main__about-section-bio {
      display: none;
    }

    .main__about-section-exp-int {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      width: 100%;
    }

    .main__about-section {
      margin: 1.5rem;
      margin-top: 2rem;
    }
  }
}
