.main {
  color: $primary-color;

  .main__portfolio-header {
    margin: 1.5rem;
  }

  .main__intro-header {
    font-size: 5rem;
    font-weight: 400;
  }

  .main__bio {
    max-width: 25rem;
    height: auto;
  }

  .main__rectangle-1 {
    width: 6rem;
    height: 0.25rem;
    background: $secondary-color;
    margin-block: 2rem;
  }

  .main__section-1 {
    margin: 1.5rem;
  }

  .main__section-2-button {
    text-decoration: none;
    font: $title-font;
    color: $primary-color;
    border: $tertiary-color;
    background-color: $tertiary-color;
    padding-block: 0.2rem;
    padding-inline: 1rem;
    margin-right: 0.2rem;
  }

  .main__section-2-buttons-container {
    margin-bottom: 1rem;
  }

  .main__section-2-rectangle {
    width: 5.7rem;
    height: 0.0625rem;
    background-color: $secondary-color;
    margin-block: 1rem;
  }

  .main__section-2-card-title-text {
    font-size: 1.5rem;
    font-weight: 400;
    text-decoration: none;
    color: $primary-color;
  }

  .main__section-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main__section-2-card-button-image {
    background-color: transparent;
    color: $tertiary-color;
  }

  .main__section-2-card-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .main__section-2-card-title-button {
    display: flex;
    justify-content: center;
    background-color: $tertiary-color;
    border: 2px solid $tertiary-color;
    border-radius: 50%;
  }

  .main__section-2-card-image {
      width: 20.5rem;
      height: auto;
    }

  .main__section-2-card-title-buttons {
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .main {
    margin-inline: 6rem;

    .main__section-2-card-image {
      width: 24.7rem;
      height: auto;
    }

    .main__section-2-card {
      &--extra {
        display: inline;
      }
    }

    .main__section-2 {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      flex-wrap: wrap;
    }
  }
}
