@import url("https://fonts.googleapis.com/css2?family=Cormorant:wght@400;700&family=Inter&display=swap");
* {
  margin: 0.35rem;
  padding: 0;
  box-sizing: border-box;
  background-color: #2C2A2A;
  font-family: "cormorant", "inter", sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  color: white;
}
.header .header__title {
  font: "cormorant";
  font-size: 1.3rem;
}
.header .header__title--alt-color {
  color: #D9BEA5;
}
.header .header__menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header .header__menu .header__menu__rectangle-1 {
  width: 1.56rem;
  height: 0.06rem;
  background: #FFFFFF;
  margin-bottom: 0.2rem;
}
.header .header__menu .header__menu__rectangle-2 {
  width: 1.13rem;
  height: 0.06rem;
  background: #FFFFFF;
}

.main {
  color: white;
}
.main .main__section-1 .main__section-1__header {
  font-size: 5rem;
  font-weight: 400;
}
.main .main__section-1 .main__section-1__rectangle {
  width: 6rem;
  height: 0.25rem;
  background: #D9BEA5;
  margin-bottom: 0.2rem;
}
.main .main__section-2 {
  display: flex;
  justify-content: center;
}
.main .main__section-2 .main__section-2__card .main__section-2__card__image {
  width: 20.7rem;
  height: auto;
}