@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@400;700&family=Inter&display=swap');

* {
    margin: 0rem;
    padding: 0;
    box-sizing: border-box;
    background-color: #2C2A2A;
    font-family: "cormorant", "inter",sans-serif;
}

$title-font: "cormorant";
$main-text-font: "inter";
$primary-color: white;
$secondary-color: #D9BEA5;
$tertiary-color: #3C3636;


.header {
    margin: 1.9rem;
    display: flex;
    justify-content: space-between;
    color: $primary-color;
    margin-bottom: 3.5rem;
    .header__title {
        font: $title-font;
        font-size: 1.3rem;
        &--alt-color {
            color: $secondary-color;
        }
    }
    .header__menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        .header__menu__rectangle-1 {
            width: 1.56rem;
            height: 0.06rem;
            background: #FFFFFF;
            margin-bottom: 0.2rem;
        }

        .header__menu__rectangle-2 {
            width: 1.13rem;
            height: 0.06rem;
            background: #FFFFFF;
        }

    }

}

.main {
    color: $primary-color;

    .main__about-section {
        margin: 1.5rem;

        .main__about-section__exp-int {
            .main__about-section__exp-int__int {
                
                .main__about-section__exp-int__int__rectangle {
                    width: 3rem;
                    height: 0.13rem;
                    background: $secondary-color;
                    margin-block: 2rem;
                }
            }

            .main__about-section__exp-int__exp {
                .main__about-section__exp-int__exp__rectangle {
                    width: 3rem;
                    height: 0.13rem;
                    background: $secondary-color;
                    margin-block: 2rem;
                }
            }
        }

        .main__about-section__bio {

            .main__about-section__bio__title {
                font: $title-font;
                font-weight: 700;
                font-size: 1rem;
            }

            .main__about-section__bio__rectangle {
                width: 3rem;
                height: 0.13rem;
                background: $secondary-color;
                margin-block: 2rem;
            }

        }
    }

    .main__portfolio-header {
        margin: 1.5rem;
    }

    .main__section-1 {
        margin: 1.5rem;
        .main__section-1__header {
            font-size: 5rem;
            font-weight: 400;
        }

        .main__section-1__rectangle {
            width: 6rem;
            height: 0.25rem;
            background: $secondary-color;
            margin-block: 2rem;
        }
    }

    .main__section-2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        .main__section-2__card {
            margin-top: 1.5rem;
            .main__section-2__card__buttons {
                .main__section-2__card__buttons__button {
                    text-decoration: none;
                    font: $title-font;
                    color: $primary-color;
                    border: $tertiary-color;
                    background-color: $tertiary-color;
                    padding-block: 0.2rem;
                    padding-inline: 1rem;
                    margin-right: 0.2rem;
                    
                }
            }
            .main__section-2__card__rectangle {
                width: 5.7rem;
                height: 0.0625rem;
                background-color: $secondary-color;
                margin-block: 1rem;
            }
    
            .main__section-2__card__title {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .main__section-2__card__title__text {
                    font-size: 2rem;
                    font-weight: 400;
                }
                .main__section-2__card__title__buttons {
                    display: flex;
                    .main__section-2__card__title__buttons__button {
                    display: flex;
                    justify-content: center;
                    background-color: $tertiary-color;
                    border: 2px solid $tertiary-color;
                    border-radius: 50%;

                .main__section-2__card__title__buttons__button-image {
                    background-color: $tertiary-color;
                    color: $tertiary-color;
                }
                
                }
               } 
            }
            
        }
    }
}