@import "variables";
@import "about";
@import "intro-and-projects";

@import url("https://fonts.googleapis.com/css2?family=Cormorant:wght@400;700&family=Inter&display=swap");

* {
  margin: 0rem;
  padding: 0;
  box-sizing: border-box;
  background-color: #2c2a2a;
  font-family: "cormorant", "inter", sans-serif;
}

.header {
  margin: 1.9rem;
  display: flex;
  justify-content: space-between;
  color: $primary-color;
  margin-bottom: 3.5rem;
  .header__title {
    font: $title-font;
    font-size: 1.3rem;
    &--alt-color {
      color: $secondary-color;
    }
  }
  .header__menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .header__menu__rectangle-1 {
      width: 1.56rem;
      height: 0.06rem;
      background: #ffffff;
      margin-bottom: 0.2rem;
    }

    .header__menu__rectangle-2 {
      width: 1.13rem;
      height: 0.06rem;
      background: #ffffff;
    }
  }

  .header__menu-alternative {
    display: none;
  }
}

.main__contact-button {
  display: flex;
  justify-content: center;
  align-content: center;

  .main__contact-button__link {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: $primary-color;
    background-color: $tertiary-color;
    font-size: 1.3rem;
    border: 1px solid $secondary-color;
    padding-inline: 6.2rem;
    padding-block: 1.2rem;
    margin: 1.5rem;
  }
}

.main__contact-text {
  display: flex;
  justify-content: center;
  margin-block: 3.25rem;
  .main__contact-text__text {
    font-size: 3rem;
  }
}

.footer {
  display: flex;
  justify-content: center;
  background-color: $tertiary-color;
  border: $tertiary-color;
  height: 4rem;
  .footer__images {
    background-color: $tertiary-color;
    .footer__images__image {
      background-color: $tertiary-color;
      padding-top: 0.4rem;
      padding-inline: 0.4rem;
    }
  }
}

@media screen and (min-width: 768px) {
  .header {
    margin-inline: 7.5rem;

    .header__menu-alternative {
      display: flex;
      justify-content: space-around;

      .header__menu-alternative__text {
        text-decoration: none;
        color: $primary-color;
        margin-inline: 0.4rem;
      }
    }
    .header__menu {
      display: none;
      .header__menu__rectangle-1 {
        display: none;
      }

      .header__menu__rectangle-2 {
        display: none;
      }
    }
  }
}
